{% extends "AlmacenBundle::layout.html.twig" %}

{% block content %}

    <div class="col-lg-4">
        <h2 style="margin-top: 10px;">Lista de Categorias</h2>
    </div>

    <div class="col-lg-8">
        {% if app.session.flashbag().get('status_success') is defined %}
            {% for message in app.session.flashbag().get("status_success") %}
                {% if message != "" %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-lg-8">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scole="col">ID</th>
                    <th scole="col">Nombre</th>
                    <th scole="col">Descripción</th>
                    <th scole="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-secondary">
                    <td>?</td>
                    <td><a class="btn btn-primary btn-sm" href="{{ path("add_categoria") }}">Añadir categoria</a></td>
                    <td colspan="2">Crea más categorias</td>
                </tr>
                {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.nombre }}</td>
                        <td>{{ categoria.descripcion }}</td>
                        <td>
                            {% if categoria.productos | length == 0 %}
                                <a class="btn btn-danger btn-sm" href="{{path("delete_categoria" ,{"id":categoria.id}) }}">Eliminar</a>
                            {% else %}
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Categoría en uso">
                                <a class="btn btn-danger text-dark btn-sm disabled" href="#">Eliminar</a>
                            </span>
                            {% endif %}
                            <a class="btn btn-warning btn-sm" href="{{path("edit_categoria" ,{"id":categoria.id}) }}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>

    <div class="clearfix"></div>

{% endblock %}