{% extends "AlmacenBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h1 style="margin-top: 10px;">Detalle de {{ producto.nombre }}</h1>
<hr/>
        <p class="float-left"><img width="290" src="{{ asset("uploads/"~producto.img) }}"/></p>
        <p style="margin-left: 300px;"><strong>Nombre: </strong>{{ producto.nombre }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Precio: </strong>{{ producto.precio }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Fecha de Caducidad: </strong>{{ producto.fechaCaducidad }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Ubicación: </strong>{{ producto.ubicacion }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Categoría: </strong>{{ producto.categoria.nombre }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Autor: </strong>{{ producto.usuario.nombre }}</p><hr/>
        <p style="margin-left: 300px;"><strong>Etiquetas: </strong>
            {% for ent in producto.productoEtiqueta %}
                {{ ent.etiqueta.nombre }}
            {% endfor %}
        </p><hr/>
        <p style="margin-left: 300px;"><strong>Descripción: </strong>{{ producto.descripcion }}</p><hr/>

        {% if (app.user.id is defined) and (producto.usuario.id == app.user.id) %}
            <p style="margin-left: 10px;">
                <a class="btn btn-danger btn-lg"
                   href="{{ path("delete_producto",{"id":producto.id }) }}">{{ "btn_delete" | trans }}</a>
                <a class="btn btn-warning btn-lg" href="{{ path("edit_producto",{"id":producto.id }) }}">
                    {{ "btn_edit" | trans }}
                </a>
            </p>
        {% endif %}

        <div class="clearfix"></div>
    </div>

{% endblock %}